:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.tile_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    flex-grow: 1;
}

my-header,
my-wiab {
    flex-grow: 0;
}

my-tile {
    width: 500px;
    max-width: 25%;
    margin: 2vw;
}

img {
    max-width: 90px;
}
