doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/styles/salesforce-lightning-design-system.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
