:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #032e61;
}

img {
    max-width: 150px;
    margin: 1vh;
    max-height: 80px;
}

.slds-text-heading_large,
.slds-text-heading--large {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.25;
}

.slds-text-heading_medium,
.slds-text-heading--medium {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
}
