:host {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
}

p {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}
.slds-text-heading_medium,
.slds-text-heading--medium {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
}
.slds-m-bottom_medium,
.slds-m-bottom--medium {
    margin-bottom: 1rem;
}

.banner {
    background-color: #215ca0;
    color: white;
    border: none;
    flex-grow: 0;
    align-self: center;
    margin-left: -60px;
    min-width: 60vw;
    margin-top: 100px;
    padding: 1rem;
    border-radius: 0.25rem;
}

.banner .banner_body {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 20%;
    margin: 0.75rem 0 0.75rem 0;
}
